@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

*:active {
    outline: none;
}

body {
    margin: 0;
    background-image: url("../img/background.jpg");
}

.heading {
    margin-top: 150px;
    opacity: 0;
    text-align: center;
    will-change: margin-top;
    transition: ease opacity .3s, ease margin-top .3s;
}

.heading h1 {
    color: white;
    font-size: 100px;
}

.heading .info {
    color: white;
    margin-top: -90px;
}

.button-wrapper {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-column-gap: 20px;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
    opacity: 0;
    transition: ease opacity .3s;
    will-change: opacity;
}

.button {
    text-align: center;
}

.button .description {
    color: white;
    opacity: 0;
    will-change: opacity;
    transition: ease opacity .3s;
    line-height: 40px;
    display: block;
}

.move {
    opacity: .7;
    height: 100%;
    width: 100%;
    will-change: margin-top;
    will-change: opacity;
    transition: ease margin-top .3s, ease opacity .3s;
}

.button:hover .move {
    margin-top: -20px;
    opacity: 1;
}

.button:hover .description {
    opacity: 1;
}

.button img {
    height: 100px;
    width: auto;
}